#header
{
    position: sticky;
    display: 1;
}
#logo
{
    width: 5em;
    height: 5em;
}
.text
{
    color: palevioletred;
}
.first-letter
{
    font-family: cursive;
    font-weight: bold;
}
#navig1,#navig2,#navig3
{
   color:  palevioletred;
}
#navig4
{
    text-decoration: none;
    color: palevioletred;
    border: none;
    background: transparent;
}
#a
{
    text-decoration: none;
}