#header
{
    position: sticky;
    display: 1;
}
#logo
{
    width: 5em;
    height: 5em;
}
.text
{
    color: palevioletred;
}
.first-letter
{
    font-family: cursive;
    font-weight: bold;
}
#navig1,#navig2,#navig3
{
   color:  palevioletred;
}
#navig4
{
    text-decoration: none;
    color: palevioletred;
    border: none;
    background: transparent;
}
#a
{
    text-decoration: none;
}

.proPhoto-parent
{
    display: grid;
    justify-content: center;
}
#pro-photo1
{
    background-image: url(Images/pro-pic-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 61em;
    height: 40em;
    box-shadow: -50px 50px black,-60px 60px #ffbad1;
    border: solid 1px #ffbad1;
}
#pro-head
{
    position: absolute;
    top: 9em;
    left: 63em;
    background-color: black;
    border: solid 2em #ffbad1; 
}
.pro-h1
{
    font-size:  4.5rem;
    color: #ba1a4f;
    padding-left: 20px;
    padding-right: 1em;
}
#socialmedia-parent
{
     display: grid;
}
#social-media
{
    justify-self: end;
    margin-right: 2em;
    align-self: center;
    position: fixed;
    display: grid;
}
.icon
{
    color: #cc085d;
}

#sub-img1
{
    width: 15em;
    height: 13em;
}
#about-para
{
    width: 20em;
}
#pro-photo2
{
    background-image: url(Images/pro-pic2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 25em;
    height: 31em;
    box-shadow: 50px 50px black,60px 60px #ffbad1;
    border: solid 1px #ffbad1;
}
.book-appointment-parent
{
    width: 18em;
    background-color: black;
    margin-top: 3em;
    box-shadow: -5px 6px 7px 4px pink;
}
#book-appointment
{
    font-size: 22px;
    text-decoration: none;
    color: deeppink;
}


#sub-img2
{
    width: 19em;
    height: 14em;
}
#sub-img3
{
    width: 11em;
    height: 11em;
}